.side-bar {
  width: 25rem !important;
  min-width: 25rem !important;
}

.main {
  margin-left: 25rem !important;
}

.site-nav {
  padding-left: 0 !important;
  margin-left: 0 !important;
  width: 100% !important;
}

.nav-list {
  padding-left: 0 !important;
  margin-left: 0 !important;
  width: 100% !important;
}

.site-header {
  padding-left: 1rem !important;
}